<div class="ui container" id="navbar">
	<div class="item brand" style="justify-content: space-between;">
		<a href="{{AppSubUrl}}/">
			<img class="ui mini image" src="{{AppSubUrl}}/img/gitea-sm.png">
		</a>
		<div class="ui basic icon button mobile-only" id="navbar-expand-toggle">
			<i class="sidebar icon"></i>
		</div>
	</div>

	{{if .IsSigned}}
		<a class="item {{if .PageIsDashboard}}active{{end}}" href="{{AppSubUrl}}/">{{.dlt.Tr "dashboard"}}</a>
		<a class="item {{if .PageIsIssues}}active{{end}}" href="{{AppSubUrl}}/issues">{{.dlt.Tr "issues"}}</a>
		<a class="item {{if .PageIsPulls}}active{{end}}" href="{{AppSubUrl}}/pulls">{{.dlt.Tr "pull_requests"}}</a>
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.dlt.Tr "explore"}}</a>
	{{else if .IsLandingPageHome}}
		<a class="item {{if .PageIsHome}}active{{end}}" href="{{AppSubUrl}}/">{{.dlt.Tr "home"}}</a>
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.dlt.Tr "explore"}}</a>
	{{else if .IsLandingPageExplore}}
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/repos">{{.dlt.Tr "home"}}</a>
	{{else if .IsLandingPageOrganizations}}
		<a class="item {{if .PageIsExplore}}active{{end}}" href="{{AppSubUrl}}/explore/organizations">{{.dlt.Tr "home"}}</a>
	{{end}}

	{{template "custom/extra_links" .}}

	{{/*
		<div class="item">
		<div class="ui icon input">
		<input class="searchbox" type="text" placeholder="{{.dlt.Tr "search_project"}}">
		<i class="search icon"></i>
		</div>
		</div>
	*/}}

	{{if .IsSigned}}
		<div class="right stackable menu">
			<a href="{{AppSubUrl}}/notifications" class="item poping up" data-content='{{.dlt.Tr "notifications"}}' data-variation="tiny inverted">
				<span class="text">
					<i class="fitted octicon octicon-bell"></i>
					<span class="sr-mobile-only">{{.dlt.Tr "notifications"}}</span>

					{{if .NotificationUnreadCount}}
						<span class="ui red label">
							{{.NotificationUnreadCount}}
						</span>
					{{end}}
				</span>
			</a>

			<div class="ui dropdown jump item poping up" data-content="{{.dlt.Tr "create_new"}}" data-variation="tiny inverted">
				<span class="text">
					<i class="fitted octicon octicon-plus"></i>
					<span class="sr-mobile-only">{{.dlt.Tr "create_new"}}</span>
					<i class="fitted octicon octicon-triangle-down not-mobile"></i>
				</span>
				<div class="menu">
					<a class="item" href="{{AppSubUrl}}/repo/create">
						<i class="fitted octicon octicon-plus"></i> {{.dlt.Tr "new_repo"}}
					</a>
					<a class="item" href="{{AppSubUrl}}/repo/migrate">
						<i class="fitted octicon octicon-repo-clone"></i> {{.dlt.Tr "new_migrate"}}
					</a>
					{{if .SignedUser.CanCreateOrganization}}
					<a class="item" href="{{AppSubUrl}}/org/create">
						<i class="fitted octicon octicon-organization"></i> {{.dlt.Tr "new_org"}}
					</a>
					{{end}}
				</div><!-- end content create new menu -->
			</div><!-- end dropdown menu create new -->

			<div class="ui dropdown jump item poping up" tabindex="-1" data-content="{{.dlt.Tr "user_profile_and_more"}}" data-variation="tiny inverted">
				<span class="text">
					<img class="ui tiny avatar image" src="{{.SignedUser.RelAvatarLink}}">
					<span class="sr-only">{{.dlt.Tr "user_profile_and_more"}}</span>
					<span class="mobile-only">{{.SignedUser.Name}}</span>
					<i class="fitted octicon octicon-triangle-down not-mobile" tabindex="-1"></i>
				</span>
				<div class="menu user-menu" tabindex="-1">
					<div class="ui header">
						{{.dlt.Tr "signed_in_as"}} <strong>{{.SignedUser.Name}}</strong>
					</div>

					<div class="divider"></div>
					<a class="item" href="{{AppSubUrl}}/{{.SignedUser.Name}}">
						<i class="octicon octicon-person"></i>
						{{.dlt.Tr "your_profile"}}<!-- Your profile -->
					</a>
					<a class="item" href="{{AppSubUrl}}/{{.SignedUser.Name}}?tab=stars">
						<i class="octicon octicon-star"></i>
						{{.dlt.Tr "your_starred"}}
					</a>
					<a class="{{if .PageIsUserSettings}}active{{end}} item" href="{{AppSubUrl}}/user/settings">
						<i class="octicon octicon-settings"></i>
						{{.dlt.Tr "your_settings"}}<!-- Your settings -->
					</a>
					<a class="item" target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io">
						<i class="octicon octicon-question"></i>
						{{.dlt.Tr "help"}}<!-- Help -->
					</a>
					{{if .IsAdmin}}
						<div class="divider"></div>

						<a class="{{if .PageIsAdmin}}active{{end}} item" href="{{AppSubUrl}}/admin">
							<i class="icon settings"></i>
							{{.dlt.Tr "admin_panel"}}<!-- Admin Panel -->
						</a>
					{{end}}

					<div class="divider"></div>
					<a class="item" href="{{AppSubUrl}}/user/logout">
						<i class="octicon octicon-sign-out"></i>
						{{.dlt.Tr "sign_out"}}<!-- Sign Out -->
					</a>
				</div><!-- end content avatar menu -->
			</div><!-- end dropdown avatar menu -->
		</div><!-- end signed user right menu -->

	{{else}}

		<a class="item" target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io">{{.dlt.Tr "help"}}</a>
		<div class="right stackable menu">
			{{if .ShowRegistrationButton}}
				<a class="item{{if .PageIsSignUp}} active{{end}}" href="{{AppSubUrl}}/user/sign_up">
					<i class="octicon octicon-person"></i> {{.dlt.Tr "register"}}
				</a>
			{{end}}
			<a class="item{{if .PageIsSignIn}} active{{end}}" href="{{AppSubUrl}}/user/login?redirect_to={{.Link}}">
				<i class="octicon octicon-sign-in"></i> {{.dlt.Tr "sign_in"}}
			</a>
		</div><!-- end anonymous right menu -->

	{{end}}
</div>
