{{template "base/head" .}}
<div class="repository new release">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui dividing header">
			{{if .PageIsEditRelease}}
				{{.dlt.Tr "repo.release.edit_release"}}
				<div class="sub header">{{.dlt.Tr "repo.release.edit_subheader"}}</div>
			{{else}}
				{{.dlt.Tr "repo.release.new_release"}}
				<div class="sub header">{{.dlt.Tr "repo.release.new_subheader"}}</div>
			{{end}}
		</h2>
		{{template "base/alert" .}}
		<form class="ui form stackable grid" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="ui seven wide column target">
				<div class="inline field {{if .Err_TagName}}error{{end}}">
					{{if .PageIsEditRelease}}
						<b>{{.tag_name}}</b><span class="at">@</span><strong>{{.tag_target}}</strong>
					{{else}}
						<input id="tag-name" name="tag_name" value="{{.tag_name}}" placeholder="{{.dlt.Tr "repo.release.tag_name"}}" autofocus required>
						<span class="at">@</span>
						<div class="ui selection dropdown">
							<input type="hidden" name="tag_target" value="{{.tag_target}}"/>
							<i class="octicon octicon-git-branch"></i>
							<div class="text">
								{{.dlt.Tr "repo.release.target"}} :
								<strong id="repo-branch-current">{{.Repository.DefaultBranch}}</strong>
							</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								{{range .Branches}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
						<span class="help">{{.dlt.Tr "repo.release.tag_helper"}}</span>
					{{end}}
				</div>
			</div>
			<div class="eleven wide column">
				<div class="field {{if .Err_Title}}error{{end}}">
					<label>{{.dlt.Tr "repo.release.title"}}</label>
					<input name="title" placeholder="{{.dlt.Tr "repo.release.title"}}" value="{{.title}}" autofocus required>
				</div>
				<div class="field">
					<label>{{.dlt.Tr "repo.release.content"}}</label>
					<textarea name="content">{{.content}}</textarea>
				</div>
				{{if .IsAttachmentEnabled}}
					<div class="files"></div>
					<div class="ui basic button dropzone" id="dropzone" data-upload-url="{{AppSubUrl}}/attachments" data-accepts="{{.AttachmentAllowedTypes}}" data-max-file="{{.AttachmentMaxFiles}}" data-max-size="{{.AttachmentMaxSize}}" data-default-message="{{.dlt.Tr "dropzone.default_message"}}" data-invalid-input-type="{{.dlt.Tr "dropzone.invalid_input_type"}}" data-file-too-big="{{.dlt.Tr "dropzone.file_too_big"}}" data-remove-file="{{.dlt.Tr "dropzone.remove_file"}}"></div>
				{{end}}
			</div>
			<div class="ui container">
				<div class="ui divider"></div>
				<div class="ui text right">
					<div class="prerelease field">
						<div class="ui checkbox">
							<input type="checkbox" name="prerelease" {{if .prerelease}}checked{{end}}>
							<label><strong>{{.dlt.Tr "repo.release.prerelease_desc"}}</strong></label>
						</div>
					</div>
					<span class="help">{{.dlt.Tr "repo.release.prerelease_helper"}}</span>
					<div class="field">
						{{if .PageIsEditRelease}}
							<a class="ui blue basic button" href="{{.RepoLink}}/releases">
								{{.dlt.Tr "repo.release.cancel"}}
							</a>
							{{if .IsDraft}}
								<input class="ui grey button" type="submit" name="draft" value="{{.dlt.Tr "repo.release.save_draft"}}"/>
								<button class="ui green button">
									{{.dlt.Tr "repo.release.publish"}}
								</button>
							{{else}}
								<button class="ui green button">
									{{.dlt.Tr "repo.release.edit_release"}}
								</button>
							{{end}}
							<a class="ui red button delete-button" data-url="{{$.RepoLink}}/releases/delete" data-id="{{.ID}}">
								{{$.dlt.Tr "repo.release.delete_release"}}
							</a>
						{{else}}
							<button class="ui green button">
								{{.dlt.Tr "repo.release.publish"}}
							</button>
							<input class="ui grey button" type="submit" name="draft" value="{{.dlt.Tr "repo.release.save_draft"}}"/>
						{{end}}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{{if .PageIsEditRelease}}
	<div class="ui small basic delete modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			{{.dlt.Tr "repo.release.deletion"}}
		</div>
		<div class="content">
			<p>{{.dlt.Tr "repo.release.deletion_desc"}}</p>
		</div>
		{{template "base/delete_modal_actions" .}}
	</div>
{{end}}
{{template "base/footer" .}}
