<h4 class="ui top attached header">
	{{.dlt.Tr "settings.manage_gpg_keys"}}
	<div class="ui right">
		<div class="ui blue tiny show-panel button" data-panel="#add-gpg-key-panel">{{.dlt.Tr "settings.add_key"}}</div>
	</div>
</h4>
<div class="ui attached segment">
	<div class="ui key list">
		<div class="item">
			{{.dlt.Tr "settings.gpg_desc"}}
		</div>
		{{range .GPGKeys}}
			<div class="item">
				<div class="right floated content">
					<button class="ui red tiny button delete-button" id="delete-gpg" data-url="{{$.Link}}/delete?type=gpg" data-id="{{.ID}}">
						{{$.dlt.Tr "settings.delete_key"}}
					</button>
				</div>
				<i class="mega-octicon octicon-key {{if or (eq .ExpiredUnix 0) ($.PageStartTime.Before .ExpiredUnix.AsTime)}}green{{end}}"></i>
				<div class="content">
					{{range .Emails}}<strong>{{.Email}} </strong>{{end}}
					<div class="print meta">
						<b>{{$.dlt.Tr "settings.key_id"}}:</b> {{.KeyID}}
						<b>{{$.dlt.Tr "settings.subkeys"}}:</b> {{range .SubsKey}} {{.KeyID}} {{end}}
					</div>
					<div class="activity meta">
						<i>{{$.dlt.Tr "settings.add_on"}} <span>{{.AddedUnix.FormatShort}}</span></i>
						-
						<i>{{if not .ExpiredUnix.IsZero}}{{$.dlt.Tr "settings.valid_until"}} <span>{{.ExpiredUnix.FormatShort}}</span>{{else}}{{$.dlt.Tr "settings.valid_forever"}}{{end}}</i>
					</div>
				</div>
			</div>
		{{end}}
	</div>
</div>
<br>
<p>{{.dlt.Tr "settings.gpg_helper" "https://help.github.com/articles/about-gpg/" | Str2html}}</p>
<div {{if not .HasGPGError}}class="hide"{{end}} id="add-gpg-key-panel">
	<h4 class="ui top attached header">
		 {{.dlt.Tr "settings.add_new_gpg_key"}}
	</h4>
	<div class="ui attached segment">
		<form class="ui form" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<input type="hidden" name="title" value="none">
			<div class="field {{if .Err_Content}}error{{end}}">
				<label for="content">{{.dlt.Tr "settings.key_content"}}</label>
				<textarea id="gpg-key-content" name="content" required>{{.content}}</textarea>
			</div>
			<input name="type" type="hidden" value="gpg">
			<button class="ui green button">
				{{.dlt.Tr "settings.add_key"}}
			</button>
		</form>
	</div>
</div>

<div class="ui small basic delete modal" id="delete-gpg">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.dlt.Tr "settings.gpg_key_deletion"}}
	</div>
	<div class="content">
		<p>{{.dlt.Tr "settings.gpg_key_deletion_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
