<div class="ui secondary pointing tabular top attached borderless menu stackable new-menu navbar">
	<a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="{{AppSubUrl}}/user/settings">
		{{.dlt.Tr "settings.profile"}}
	</a>
	<a class="{{if .PageIsSettingsAccount}}active{{end}} item" href="{{AppSubUrl}}/user/settings/account">
		{{.dlt.Tr "settings.account"}}
	</a>
	<a class="{{if .PageIsSettingsSecurity}}active{{end}} item" href="{{AppSubUrl}}/user/settings/security">
		{{.dlt.Tr "settings.security"}}
	</a>
	<a class="{{if .PageIsSettingsApplications}}active{{end}} item" href="{{AppSubUrl}}/user/settings/applications">
		{{.dlt.Tr "settings.applications"}}
	</a>
	<a class="{{if .PageIsSettingsKeys}}active{{end}} item" href="{{AppSubUrl}}/user/settings/keys">
		{{.dlt.Tr "settings.ssh_gpg_keys"}}
	</a>
	<a class="{{if .PageIsSettingsOrganization}}active{{end}} item" href="{{AppSubUrl}}/user/settings/organization">
		{{.dlt.Tr "settings.organization"}}
	</a>
	<a class="{{if .PageIsSettingsRepos}}active{{end}} item" href="{{AppSubUrl}}/user/settings/repos">
		{{.dlt.Tr "settings.repos"}}
	</a>
</div>
