<div id="setting-menu" class="grid-1-5 panel panel-radius left">
	<p class="panel-header"><strong>{{.dlt.Tr "admin_panel"}}</strong></p>
	<div class="panel-body">
		<ul class="menu menu-vertical switching-list grid-1-5 left">
			<li {{if .PageIsAdminDashboard}}class="current"{{end}}><a href="{{AppSubUrl}}/admin">{{.dlt.Tr "admin.dashboard"}}</a></li>
			<li {{if .PageIsAdminUsers}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/users">{{.dlt.Tr "admin.users"}}</a></li>
			<li {{if .PageIsAdminOrganizations}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/orgs">{{.dlt.Tr "admin.organizations"}}</a></li>
			<li {{if .PageIsAdminRepositories}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/repos">{{.dlt.Tr "admin.repositories"}}</a></li>
			<li {{if .PageIsAdminAuthentications}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/auths">{{.dlt.Tr "admin.authentication"}}</a></li>
			<li {{if .PageIsAdminConfig}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/config">{{.dlt.Tr "admin.config"}}</a></li>
			<li {{if .PageIsAdminNotices}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/notices">{{.dlt.Tr "admin.notices"}}</a></li>
			<li {{if .PageIsAdminMonitor}}class="current"{{end}}><a href="{{AppSubUrl}}/admin/monitor">{{.dlt.Tr "admin.monitor"}}</a></li>
		</ul>
	</div>
</div>
