{{template "base/head" .}}
<div class="repository settings collaboration">
	{{template "repo/header" .}}
	{{template "repo/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.dlt.Tr "repo.settings.collaboration"}}
		</h4>
		{{if .Collaborators}}
		<div class="ui attached segment collaborator list">
			{{range .Collaborators}}
				<div class="item ui grid">
					<div class="ui five wide column">
						<a href="{{AppSubUrl}}/{{.Name}}">
							<img class="ui avatar image" src="{{.RelAvatarLink}}">
							{{.DisplayName}}
						</a>
					</div>
					<div class="ui eight wide column">
						<span class="octicon octicon-shield"></span>
						<div class="ui inline dropdown">
							<div class="text">{{$.dlt.Tr .Collaboration.ModeI18nKey}}</div>
							<i class="dropdown icon"></i>
							<div class="access-mode menu" data-url="{{$.Link}}/access_mode" data-uid="{{.ID}}">
							<div class="item" data-text="{{$.dlt.Tr "repo.settings.collaboration.admin"}}" data-value="3">{{$.dlt.Tr "repo.settings.collaboration.admin"}}</div>
							<div class="item" data-text="{{$.dlt.Tr "repo.settings.collaboration.write"}}" data-value="2">{{$.dlt.Tr "repo.settings.collaboration.write"}}</div>
							<div class="item" data-text="{{$.dlt.Tr "repo.settings.collaboration.read"}}" data-value="1">{{$.dlt.Tr "repo.settings.collaboration.read"}}</div>
							</div>
						</div>
					</div>
					<div class="ui two wide column">
						<button class="ui red tiny button inline text-thin delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}">
							{{$.dlt.Tr "repo.settings.delete_collaborator"}}
						</button>
					</div>
				</div>
			{{end}}
		</div>
		{{end}}
		<div class="ui bottom attached segment">
			<form class="ui form" id="repo-collab-form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="inline field ui left">
					<div id="search-user-box" class="ui search">
						<div class="ui input">
							<input class="prompt" name="collaborator" placeholder="{{.dlt.Tr "repo.settings.search_user_placeholder"}}" autocomplete="off" autofocus required>
						</div>
					</div>
				</div>
				<button class="ui green button">{{.dlt.Tr "repo.settings.add_collaborator"}}</button>
			</form>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.dlt.Tr "repo.settings.collaborator_deletion"}}
	</div>
	<div class="content">
		<p>{{.dlt.Tr "repo.settings.collaborator_deletion_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>
{{template "base/footer" .}}
