<div id="setting-menu" class="grid-1-5 panel panel-radius left">
	<p class="panel-header"><strong>{{.dlt.Tr "repo.settings"}}</strong></p>
	<div class="panel-body">
		<ul class="menu menu-vertical switching-list grid-1-5 left">
			<li {{if .PageIsSettingsOptions}}class="current"{{end}}><a href="{{.RepoLink}}/settings">{{.dlt.Tr "repo.settings.options"}}</a></li>
			<li {{if .PageIsSettingsCollaboration}}class="current"{{end}}><a href="{{.RepoLink}}/settings/collaboration">{{.dlt.Tr "repo.settings.collaboration"}}</a></li>
			<li {{if .PageIsSettingsBranches}}class="current"{{end}}><a href="{{.RepoLink}}/settings/branches">{{.dlt.Tr "repo.settings.branches"}}</a></li>
			<li {{if .PageIsSettingsHooks}}class="current"{{end}}><a href="{{.RepoLink}}/settings/hooks">{{.dlt.Tr "repo.settings.hooks"}}</a></li>
			{{if or .SignedUser.AllowGitHook .SignedUser.IsAdmin}}
				<li {{if .PageIsSettingsGitHooks}}class="current"{{end}}><a href="{{.RepoLink}}/settings/hooks/git">{{.dlt.Tr "repo.settings.githooks"}}</a></li>
			{{end}}
			<li {{if .PageIsSettingsKeys}}class="current"{{end}}><a href="{{.RepoLink}}/settings/keys">{{.dlt.Tr "repo.settings.deploy_keys"}}</a></li>
		</ul>
	</div>
</div>
