<div class="ui secondary pointing tabular top attached borderless menu stackable new-menu navbar">
	<a class="{{if .PageIsSettingsOptions}}active{{end}} item" href="{{.RepoLink}}/settings">
		{{.dlt.Tr "repo.settings.options"}}
	</a>
	<a class="{{if .PageIsSettingsCollaboration}}active{{end}} item" href="{{.RepoLink}}/settings/collaboration">
		{{.dlt.Tr "repo.settings.collaboration"}}
	</a>
	{{if not .Repository.IsEmpty}}
		<a class="{{if .PageIsSettingsBranches}}active{{end}} item" href="{{.RepoLink}}/settings/branches">
			{{.dlt.Tr "repo.settings.branches"}}
		</a>
	{{end}}
	<a class="{{if .PageIsSettingsHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks">
		{{.dlt.Tr "repo.settings.hooks"}}
	</a>
	{{if .SignedUser.CanEditGitHook}}
		<a class="{{if .PageIsSettingsGitHooks}}active{{end}} item" href="{{.RepoLink}}/settings/hooks/git">
			{{.dlt.Tr "repo.settings.githooks"}}
		</a>
	{{end}}
	<a class="{{if .PageIsSettingsKeys}}active{{end}} item" href="{{.RepoLink}}/settings/keys">
		{{.dlt.Tr "repo.settings.deploy_keys"}}
	</a>
</div>
