<div class="field">
	<div class="ui top attached tabular menu" data-write="write" data-preview="preview">
		<a class="active item" data-tab="write">{{.dlt.Tr "write"}}</a>
		<a class="item" data-tab="preview" data-url="{{AppSubUrl}}/api/v1/markdown" data-context="{{.RepoLink}}">{{.dlt.Tr "preview"}}</a>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="write">
		<textarea id="content" class="edit_area js-quick-submit" name="content" tabindex="4" data-id="issue-{{.RepoName}}" data-url="{{AppSubUrl}}/api/v1/markdown" data-context="{{.Repo.RepoLink}}">
{{if .IssueTemplate}}{{.IssueTemplate}}{{else if .PullRequestTemplate}}{{.PullRequestTemplate}}{{else}}{{.content}}{{end}}</textarea>
	</div>
	<div class="ui bottom attached tab segment markdown" data-tab="preview">
		{{.dlt.Tr "loading"}}
	</div>
</div>
{{if .IsAttachmentEnabled}}
	<div class="files"></div>
	<div class="ui basic button dropzone" id="dropzone" data-upload-url="{{AppSubUrl}}/attachments" data-accepts="{{.AttachmentAllowedTypes}}" data-max-file="{{.AttachmentMaxFiles}}" data-max-size="{{.AttachmentMaxSize}}" data-default-message="{{.dlt.Tr "dropzone.default_message"}}" data-invalid-input-type="{{.dlt.Tr "dropzone.invalid_input_type"}}" data-file-too-big="{{.dlt.Tr "dropzone.file_too_big"}}" data-remove-file="{{.dlt.Tr "dropzone.remove_file"}}"></div>
{{end}}
